 <footer>
    <div class="container footer-buttons">
      <button class="btn" onclick="window.location.href='/history'">History</button>
      <button class="btn" onclick="window.location.href='/home'">Home</button>
      <button class="btn" onclick="window.location.href='/map'">Map</button>
      <button class="btn" onclick="window.location.href='/account'">Account</button>
    </div>
  </footer>