{{!-- <nav class="bg-dark text-white py-2">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="btn-group">
        <a href="/home" class="btn btn-sm btn-outline-light {{#if active.home}}active{{/if}}">Home</a>
        <a href="/map" class="btn btn-sm btn-outline-light {{#if active.map}}active{{/if}}">Map</a>
        <a href="/account" class="btn btn-sm btn-outline-light {{#if active.account}}active{{/if}}">Account</a>
      </div>
    </div>
  </div>
</nav> --}}