<form action="/login" method="post" class="form">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? </p><a href="/register">Register</a>