<div>
    <form action="/changePasswordFromPassphrase" method="post">
        <div class="mb-3 w-50 mx-auto mt-5">
            <h1>Change Password</h1>
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
            
            <label class="form-label" for="passphrase">Security Passphrase</label>
            <input class="form-control" type="text" id="passphrase" name="passphrase" placeholder="Passphrase" required>
            
            <label class="form-label" for="newPassword">New Password</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
            
            <label class="form-label" for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
            
        <div class="mb-3 w-50 mx-auto">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>

    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}
</div>